@import url("./bootstrap.css");


body {
    font-family: Arial, sans-serif;
    background-color:beige;
    margin: 0;
    padding: 0;
    font-weight: 1200;
}
header {
    background-color:burlywood;
    color: white;
    text-align: center;
    padding: 1rem;
}
h1 {
    margin: 0;
}
main {
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: center;
}
th {
    background-color: green;
    color: white;
}
img {
    width: 100px;
    height: 100px;
}
button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #ee2e2e;
}
.btn-container {
    text-align: center;
}
footer {
    background-color: #821d077a;
    color: white;
    text-align: center;
    padding: 10px;
    position:relative;
    width: 100%;
    bottom: 0;
}
#notes{
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 1.3rem;
}
.navbar {
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.navbar .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.navbar .logo {
    font-size: 2rem;
}

.navbar .nav {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav a {
    padding: 0 1rem;
}

.navbar .nav a:hover {
    color: #fdfdfd;
}
.btn btn-outline-warning:hover{
    background-color: #ee2e2e; 
}
.form-control submit{
    display: flex;
    padding: 30%;
}
.btn-info :hover{
    background-color: #0047f9;
}
.highlight {
    background-color: red;
    font-weight: bold;
}
.sub-submit {
    background-color: #4CAF50; 
    color: white;
    padding: 15px 32px; 
    text-align: center; 
    font-size: 16px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
  }
  
 
  button:hover {
    background-color: #edb705; 
  }
  
